* { padding: 0; margin: 0; }

html, body {
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}

:root {
  --main-color: #535353;
  --accent-color: #3d3d3d;
  background-color: var(--main-color);
  color: white;
}

header {
    background-color: var(--accent-color);
    padding: 10px;
    text-align: center;
    color: white;
}

#book_list {
    background-color: var(--main-color);
    padding: 10px;
    color: white;
    height: 100%;
}

.book_card {
  color: white;
  background-color: var(--accent-color);
  margin-bottom: 0px;
  width: 100%;
  height: auto;
  margin-top: 5px;
  font-size: xx-large;
  overflow:auto;
}

.book_card ul {
  margin-left: 0px;
  padding: 0px;
  text-align: left;
}

.book_trait {
  color: white;
  background-color: var(--accent-color);
  margin-bottom: 0px;
  border-radius: 0px;
  font-size: x-large;
  align-items:flex-start;
}

/* .book_card ul li {
  list-style-type: none;
} */

.book_cover_item {
  list-style-type: none;
}

.book_card ul li img {
  float: left;
  display: flex;
  align-items: center;
  max-width: 100%;
  max-height: 5%;
  height: 160px;
  width: 240px;
  aspect-ratio: 2 / 3;
  object-fit: contain;
}

#main_frame {
    background-color: var(--main-color);
    padding: 2px;
    text-align: center;
    color: white;
    height: 100%;
    flex-grow: 1;
}

#search_bar {
  align-items: center;
}

.bottom_bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--accent-color);
    color: white;
    padding: 10px;
    text-align: center;
}